<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
</head>
<body>
	<%- include('navBar') %>
	
    <h1>All Blog Posts</h1>
    <% if (blogPosts.length > 0) { %>
        <% blogPosts.forEach(function(post) { %>
            <div>
                <h2><%- post.title %></h2>
                <p><%- post.content %></p>
                <% if (post.tags) { %>
                    <p><%- post.tags.join(', ') %></p>
                <% } %>
                <% if (post.image) { %>
                    <img src="<%- post.image %>" alt="Blog Image">
                <% } %>
                <p>Posted on: <%- post.date %></p>
				<p>Created by: <%- post.author.username %></p>
            </div>
            <hr>
        <% }) %>
    <% } else { %>
        <p>No blog posts available.</p>
    <% } %>
</body>
</html>